h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

body {
  font-family: "Mulish", sans-serif;
  color: #ffffff;
  background-color: #000000;
}

.conteiner {
  width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu-logo {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* .m-logo {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  line-height: 0px;
  color: #ffffff;
} */

.m-logo {
  font-family: "Lemon";
  font-size: 40px;
  line-height: 0px;
  color: #ffffff;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 14px;
}

.m-logo-span {
  display: flex;
  width: 62px;
  height: 62px;
  background: rgb(0, 0, 0);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
}
.m-logo .header-list {
  display: flex;
  gap: 54px;
}

.menu-link {
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 75px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.watch-button {
  margin: 40px;
min-width: 141px;
padding: 30px 15px;
background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
border-radius: 100px;

font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */


  color: #FFFFFF;

  -webkit-animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

.more-button {
  margin: 40px;
    min-width: 141px;
    padding: 30px 15px;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
    border-radius: 100px;
  
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
  
  
    color: #FFFFFF;

    animation: bounce 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}